.commentsList
  margin  100px auto
  width  90%
  &__issueBox
    position  relative
    outline  1px solid #ddd
    height  100%
    box-sizing  border-box
  &__comments
    position inherit

.issueBox
  &__title
    font-weight  bold
    height  35px
    padding  10px
    background-color  #f7f7f7
  &__content
    margin  5px auto
    width  100%
    text-align  left
    line-height  1.7em

.comments
  display  flex
  align-items  flex-start
  padding  15px
  &__author
    padding  10px 5px
  &__content
    outline  1px solid #ddd
    margin  10px
    height  100%
    width  100%

.author
  &__img
    position inherit

.content
  &__commentTitle
    height  100%
    padding  13px
    width  100%
    color  #767676
    background-color  #f7f7f7
    border-bottom  1px solid #ddd
    border-top-left-radius  3px
    border-top-right-radius  3px
  &__body
    width  100%
    padding  15px
    overflow  visible
    font-size  14px
    line-height  1.5
    word-wrap  break-word

.title
  &__link
    font-size  16px
    font-weight  bold
    padding  1px
    font-weight  bold
    text-decoration  inherit
    color  #333
  &__link:hover
    color  #4078c0
  &__dt
    font-size  14px
