.task-area
  box-shadow 0 1px 4px rgba(128,128,128,0.4)
  display flex
  align-items center
  justify-content space-between
  font-family Roboto, sans-serif
  width 90%
  padding 5px
  margin 15px
	&__input-box
		float left
		padding 10px
		&--timer
		  float left
		  padding 10px
		  font-family "Roboto", sans-serif
		&--task
		  flex 3 auto
		  float left
		  padding 10px
		&--project
		  flex 1 auto
		  float left
		  padding 10px


/*******************************/

//*************************************

.hrBox
  	width  100%
	  &__hr
		  border-top  none rgb(224, 224, 224)
		  border-right  none rgb(224, 224, 224)
		  border-bottom  1px solid rgb(224, 224, 224)
		  border-left  none rgb(224, 224, 224)
		  bottom  8px
		  box-sizing  content-box
		  margin  0
		  width  100%
		  &--def
			  border-top  none rgb(0, 188, 212)
			  border-right  none rgb(0, 188, 212)
			  border-bottom  2px solid rgb(0, 188, 212)
			  border-left  none rgb(0, 188, 212)
			  bottom  8px
			  box-sizing  content-box
			  margin  0
			  width  100%
			  transform  scaleX(0)
			  transition  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
		  &--input
			  border-top  none rgb(0, 188, 212)
			  border-right  none rgb(0, 188, 212)
			  border-bottom  2px solid rgb(0, 188, 212)
			  border-left  none rgb(0, 188, 212)
			  bottom  8px
			  box-sizing  content-box
			  margin  0
			  width  100%
			  transform  scaleX(1)
			  transition  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
		  &--err
			  border-top  none rgb(244, 67, 54)
			  border-right  none rgb(244, 67, 54)
			  border-bottom  2px solid rgb(244, 67, 54)
			  border-left  none rgb(244, 67, 54)
			  bottom  8px
			  box-sizing  content-box
			  margin  0
			  width  100%
			  transform  scaleX(1)
			  transition  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
