.task-area
  box-shadow 0 1px 4px rgba(128,128,128,0.4)
  display flex
  align-items center
  justify-content space-between
  font-family Roboto, sans-serif
  width 90%
  padding 5px
  margin 15px
	&__input-box
		float left
		padding 10px
		&--timer
		  float left
		  padding 10px
		  font-family "Roboto", sans-serif
		&--task
		  flex 3 auto
		  float left
		  padding 10px
		&--project
		  flex 1 auto
		  float left
		  padding 10px
