import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

//import('../blocks/**/*')

@import 'components/TaskBox'
@import 'components/InputField'
@import 'components/Button'

.content
  font-family Roboto, sans-serif

.tasklist-content
  width 100%

.tasklist
  margin-top 50px

.hidden
  display none

.smooth
  opacity 0.4
